---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/351460?api_key=216cacacf19612abbb40a49374c03d95
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"b0211583952f947b6bd733dd592a8b5b"
      X-Memc:
      - HIT
      X-Memc-Age:
      - '24197'
      X-Memc-Expires:
      - '4603'
      X-Memc-Key:
      - 6e330dae2829ccedf99d7c848804a0db
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '35'
      X-Ratelimit-Reset:
      - '1503942880'
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/dQEqjBKfZbK992qnt7lOTLHbz80.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":9648,"name":"Mystery"},{"id":14,"name":"Fantasy"},{"id":27,"name":"Horror"},{"id":53,"name":"Thriller"}],"homepage":"https://www.netflix.com/title/80122759","id":351460,"imdb_id":"tt1241317","original_language":"en","original_title":"Death
        Note","overview":"A young man comes to possess a supernatural notebook, the
        Death Note, that grants him the power to kill any person simply by writing
        down their name on the pages. He then decides to use the notebook to kill
        criminals and change the world, but an enigmatic detective attempts to track
        him down and end his reign of terror.","popularity":39.192294,"poster_path":"/fJAvGOitU8y53ByeHnM4avtKFaG.jpg","production_companies":[{"name":"Vertigo
        Entertainment","id":829},{"name":"Lin Pictures","id":2723}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2017-08-25","revenue":0,"runtime":101,"spoken_languages":[{"iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Death
        Note","video":false,"vote_average":4.7,"vote_count":293}'
  recorded_at: Mon, 28 Aug 2017 17:54:32 GMT
[...]
